<app-header heading="Contact Us"></app-header>

<section class="pb-0">
    <div class="container px-md-5">
        <div class="row">
            <div class="col-md-4 pb-4">
                <mat-card class="text-center wow fadeInDown">
                    <img src="../../assets/icons/location-contact.svg" alt="" class="mb-3">
                    <h6>Office</h6>
                    <p>Sigma Soft Tech Beta Block, Ground Floor, Whitefield, Bengaluru -560066  
                    </p>
                </mat-card>
            </div>

            <div class="col-md-4 pb-4">
                <mat-card class="text-center wow fadeInDown" data-wow-delay="0.2s">
                    <img src="../../assets/icons/call-contact.svg" alt="" class="mb-3">
                    <h6>Contact</h6>
                    <p><a href="mailto:support@recstech.in">support@recstech.in</a>, <br>
                        <a href="tel:8123 456 789">8123 456 789</a>
                    </p>
                </mat-card>
            </div>

            <div class="col-md-4 pb-4">
                <mat-card class="text-center wow fadeInDown" data-wow-delay="0.4s">
                    <img src="../../assets/icons/time.svg" alt="" class="mb-3">
                    <h6>Opening Hours</h6>
                    <p>Mon - Fri : 10:00am - 06:00pm 
                    </p>
                </mat-card>
            </div>
        </div>

        <div class="row mt-4 px-3">
            <div class="col-md-6 pe-md-0">
                <div class="formdiv wow slideInRight">
                    <h4 class="text-white mb-4 pb-md-2">Right Us Your Query</h4>
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field floatLabel="never" class="w-100 mb-2">
                          <input matInput placeholder="Your Name">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field floatLabel="never" class="w-100 mb-2">
                          <input matInput placeholder="Your Last Name">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field floatLabel="never" class="w-100 mb-2">
                          <input matInput placeholder="Your Email">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field floatLabel="never" class="w-100 mb-2">
                          <input matInput placeholder="Phone Number">
                        </mat-form-field>
                      </div>
                    </div>
          
                    <mat-form-field floatLabel="never" class="w-100">
                      <textarea matInput placeholder="Drop us a Line" rows="4"></textarea>
                    </mat-form-field>
          
                    <button mat-raised-button class="mt-3 w-100 bg-Query">Submit Query</button>
                  </form>
                </div>
            </div>
            <div class="col-md-6 ps-md-0">
                <img src="../../assets/images/contact-img.png" alt="" class="w-100 h-100  wow slideInLeft">
            </div>
        </div>
    </div>

    <div class="map mt-5">
        <img src="../../assets/images/map.png" alt="" class="w-100 h-100">
    </div>
</section>
<app-footer></app-footer>