<app-header heading="blog"></app-header>

<!-- body -->
<section>
    <div class="container px-md-5">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="wow fadeInDown">
                    <p class="title">TECHNOLOGY</p>
                    <img mat-card-image src="../../assets/images/News.png" alt="">

                    <mat-card-content>
                        <mat-card-subtitle class="mb-2">Techno | August 21, 2023</mat-card-subtitle>
                        <h5>Business Strategy Plan 2023 From the INDIA</h5>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="wow fadeInDown" data-wow-delay="0.1s">
                    <p class="title">TECHNOLOGY</p>
                    <img mat-card-image src="../../assets/images/News.png" alt="">

                    <mat-card-content>
                        <mat-card-subtitle class="mb-2">Techno | August 21, 2023</mat-card-subtitle>
                        <h5>Business Strategy Plan 2023 From the INDIA</h5>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="wow fadeInDown" data-wow-delay="0.2s">
                    <p class="title">TECHNOLOGY</p>
                    <img mat-card-image src="../../assets/images/News.png" alt="">

                    <mat-card-content>
                        <mat-card-subtitle class="mb-2">Techno | August 21, 2023</mat-card-subtitle>
                        <h5>Business Strategy Plan 2023 From the INDIA</h5>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-card class="wow fadeInDown" data-wow-delay="0.3s">
                    <p class="title">TECHNOLOGY</p>
                    <img mat-card-image src="../../assets/images/News.png" alt="">

                    <mat-card-content>
                        <mat-card-subtitle class="mb-2">Techno | August 21, 2023</mat-card-subtitle>
                        <h5>Business Strategy Plan 2023 From the INDIA</h5>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="wow fadeInDown" data-wow-delay="0.4s">
                    <p class="title">TECHNOLOGY</p>
                    <img mat-card-image src="../../assets/images/News.png" alt="">

                    <mat-card-content>
                        <mat-card-subtitle class="mb-2">Techno | August 21, 2023</mat-card-subtitle>
                        <h5>Business Strategy Plan 2023 From the INDIA</h5>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="wow fadeInDown" data-wow-delay="0.5s">
                    <p class="title">VACANCY</p>
                    <img mat-card-image src="../../assets/images/News.png" alt="">

                    <mat-card-content>
                        <mat-card-subtitle class="mb-2">Techno | August 21, 2023</mat-card-subtitle>
                        <h5>Business Strategy Plan 2023 From the INDIA</h5>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-card class="wow fadeInDown" data-wow-delay="0.6s">
                    <p class="title">CYBER</p>
                    <img mat-card-image src="../../assets/images/News.png" alt="">

                    <mat-card-content>
                        <mat-card-subtitle class="mb-2">Techno | August 21, 2023</mat-card-subtitle>
                        <h5>Business Strategy Plan 2023 From the INDIA</h5>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="wow fadeInDown" data-wow-delay="0.7s">
                    <p class="title">KUBERNETES</p>
                    <img mat-card-image src="../../assets/images/News.png" alt="">
                    
                    <mat-card-content>
                        <mat-card-subtitle class="mb-2">Techno | August 21, 2023</mat-card-subtitle>
                        <h5>Business Strategy Plan 2023 From the INDIA</h5>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="wow fadeInDown" data-wow-delay="0.8s">
                    <p class="title">BANKING</p>
                    <img mat-card-image src="../../assets/images/News.png" alt="">
                    
                    <mat-card-content>
                        <mat-card-subtitle class="mb-2">Techno | August 21, 2023</mat-card-subtitle>
                        <h5>Business Strategy Plan 2023 From the INDIA</h5>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <mat-paginator></mat-paginator>
    </div>
</section>

<app-footer></app-footer>