<section class="py-2 bg-dark">
    <div class="container text-white">
      <div class="row align-items-center">
        <div class="col-md-4 text-center text-md-start">
          <img src="../assets/images/rt-logo.png" alt="">
        </div>
        <div class="col-md-4 text-center">
          <p class="m-md-0 text-small">© Copyright 2023 RECSTECH - All Rights Reserved</p>
        </div>
        <div class="col-md-4 pb-2 pb-md-0">
          <div class="d-flex justify-content-center justify-content-md-end">
            <a href="" class="me-2"><img src="../assets/icons/fb-round.svg" alt=""></a>
         <a href="" class="me-2"><img src="../assets/icons/insta-round.svg" alt=""></a>
         <a href="" class="me-2"><img src="../assets/icons/twitter-round.svg" alt=""></a>
         <a href=""><img src="../assets/icons/youtube-round.svg" alt=""></a>
          </div>
         
        </div>
      </div>
    </div>
  </section>